.headerWrap
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  min-width: 100%
  height: 10%
  min-height: 60px
  background: linear-gradient(295deg, rgba(102, 29, 92, 0.72) 0%, rgba(61, 13, 102, 0.64) 100%)
  border-radius: 30px
  position: fixed
  top: 0
  left: 0
  z-index: 2
  cursor: default
  transition: height 0.1s linear, min-height 0.1s linear, background 0.1s linear
  &:hover
    height: 15%
    min-height: 15%
    transition: height 0.1s linear, min-height 0.1s linear, background 0.1s linear
    background: linear-gradient(295deg, rgba(102, 29, 92, 0.95) 0%, rgba(61, 13, 102, 0.9) 100%)
  .welcomeText
    color: white
    font-family: "PokemonSolid", sans-serif
    font-size: 25px
    letter-spacing: 5px
  .filterPanel:hover &
    height: 15%
    min-height: 15%
    transition: height 0.1s linear, min-height 0.1s linear