.footerWrap
  display: flex
  position: fixed
  bottom: 40px
  width: 500px
  height: 50px
  border-radius: 50px
  background-color: rgba(203, 0, 0, 0.38)
  transition: background-color 0.2s linear
  &:hover
    background-color: rgba(203, 0, 0, 0.77)
    transition: background-color 0.2s linear
